{% extends 'base.html' %}
{% load groups_tags %}
{% block title %}Список групп{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="span4"><h1>Список групп</h1></div>
		<div class="span1 offset7">
			<a href="{% url 'accounts:logout' %}">Выйти</a>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table">
              <thead>
                <tr>
                  <th class="span1">#</th>
                  <th class="span10">Название группы</th>
                  <th class="span1"></th>
                </tr>
              </thead>
              <tbody>
              	{% for group in groups %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="/groups/detail/{{ group.id }}/">{{ group.title }}</a></td>
                  <td><a href="{% edit_object_url group %}"><i class="icon-pencil"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
		</div>
	</div>
</div> <!-- /container -->

{% endblock %} 