{% extends 'base.html' %}
{% load groups_tags %}
{% block title %}Группа {{ group.title }}{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="span4"><h1>Группа {{ group.title }}</h1><a href="/groups/list/">К списку групп</a></div>
		<div class="span1 offset7">
			<a href="{% url 'accounts:logout' %}">Выйти</a>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table">
              <thead>
                <tr>
                  <th class="span1">#</th>
                  <th class="span6">Студент</th>
                  <th class="span2">Дата рождения</th>
                  <th class="span2">№ Студ. билета</th>
                  <th class="span1"></th>
                </tr>
              </thead>
              <tbody>
              	{% for student in students %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    {% if student == group.warden %}
                      <span class="text-error">{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</span>
                    {% else %} 
                      {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }} 
                    {% endif %}</td>
                  <td>{{ student.birth_date }}</td>
                  <td>{{ student.stud_number }}</td>
                  <td><a href="{% edit_object_url student %}"><i class="icon-pencil"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
		</div>
	</div>
</div> <!-- /container -->

{% endblock %} 