{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="{% static 'img/favicon.jpg' %}" rel="shortcut icon">

    {% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    {% endblock %}
    
    {% block js %}
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   	{% endblock %}
</head>
<body>

{% block body %}

{% endblock %}

</body>
</html>