{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block title %}Регистрация{% endblock %}
{% block css %}
{{ block.super }}
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
<style type="text/css">
body {
    background-color: #f5f5f5;
}
</style>
{% endblock %}
{% block body %}
<div class="container">
  <form class="form-signin" method="post", action="">
    {% csrf_token %}
    <h2 class="form-signin-heading">Регистрация</h2>
    {% include 'macro/text-field.html' with field=form.email|add_class:'input-block-level' placeholder='placeholder:Електронный адресс' %}
    {% include 'macro/text-field.html' with field=form.password1|add_class:'input-block-level' placeholder='placeholder:Пароль' %}
    {% include 'macro/text-field.html' with field=form.password2|add_class:'input-block-level' placeholder='placeholder:Повторите пароль' %}
    <button type="submit" class="btn btn-large btn-danger">Зарегистрироваться</button>
    <a href="{% url 'accounts:signin' %}" style="margin-top:12px;" class="pull-right">Вход</a>
  </form>
</div> <!-- /container -->

{% endblock %} 